@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf") format("woff");
  font-weight: 300;
  font-style: italic;
}
